body{ background-image: url(../css/22.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;}




.father{margin: auto;
    margin-top: 60px;
border:hidden;
border-radius: 30px;
border-color: rgb(46, 62, 93);
padding: 50px;
width: 200px;
background-image: url(../css/999.jpg);
 }




img{width: 100px;
height: 100px;
border-radius: 50px;
margin:auto;
border: double;
border-color: rgb(78, 72, 72);
display:flex;
padding: 2px;}


h1{font-size:x-large;
font-family:'Times New Roman', Times, serif;
color: rgb(212, 231, 255);
text-align:center;}

p{ font-size:small;
font-family: 'Times New Roman', Times, serif;
color:rgb(212, 231, 255);
text-align: center;
margin-bottom: 20px;}

.item1 { display: flex;
justify-content: center;
align-items: center;
margin: 5px;
border-width: 2px;
border-style:hidden;
border-radius: 30px;
box-shadow: inset 5px 5px  10px rgb(231, 231, 237);
}


.item2{display: flex;
justify-content: center;
align-items: center;
margin: 5px;
border-width: 2px;
border-style:hidden;
border-radius: 30px;
box-shadow: inset 5px 5px  10px rgb(231, 231, 237);
}

.name1{display: flex;
justify-content: center;
align-items: center;
margin: 5px;
border-width: 2px;
border-style:hidden;
border-radius: 30px;
box-shadow: inset 5px 5px  10px rgb(231, 231, 237);}

.name2{display: flex;
justify-content: center;
align-items: center;
margin: 5px;
border-width: 2px;
border-style:hidden;
border-radius: 30px;
box-shadow: inset 5px 5px  10px rgb(231, 231, 237);}


button{display: flex;
justify-content: center;
align-items: center;
margin: auto;
border-radius: 30px;
border-style: hidden;
width: 90px;
height: 50px;
padding: auto;
font-size:medium;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background:fixed;
background-color: rgba(177, 215, 227, 0.715);
box-shadow: inset 5px 5px 10px rgb(74, 155, 237);
}

input{text-align: center;
border:none;
outline-style:none;
font-family: serif;
font-size: medium;
width: 90px;
height: 30px;
background: none;
color: azure;
}

i{color: aliceblue;}

a{justify-content: center;
color: aliceblue;}

.father:hover{ box-shadow: 30px 30px 20pc  rgb(238, 235, 233);}

button:hover{background-color: rgb(241, 242, 242);
box-shadow: 10px 10px 20px rgb(204, 202, 202);
cursor:pointer;}
